html {
  background-color: #b5b5b5
}

h1 {
  margin: 10px;
  font-size: 20px;
}

.title {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #333333;
}

h3 {
  margin: 5px;
  font-size: 16px;
  text-align: center;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
font-size: 16px;
visibility: hidden;
width: 200px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;

/* Position the tooltip */
position: absolute;
z-index: 1;
top: -5px;
left: 105%;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.entityName{
  color: #020a77
}